
@import url("http://fast.fonts.net/t/1.css?apiType=css&projectid=81963d16-27a2-4dbb-8269-b9f1f31939af");
@font-face{
font-family:"Neusa W00 Medium";
src:url("Fonts/2be0939c-a2c2-4696-a50d-e7c7cd549cf7.eot?#iefix");
src:url("Fonts/2be0939c-a2c2-4696-a50d-e7c7cd549cf7.eot?#iefix") format("eot"),url("Fonts/6a3dfd0c-1bbb-4c94-8db7-3cf5abb168fd.woff2") format("woff2"),url("Fonts/3302ede2-f173-40de-aa4c-244ff7f8af83.woff") format("woff"),url("Fonts/f01ea3db-f5bc-49db-ae87-b99ed3be0ed4.ttf") format("truetype"),url("Fonts/84883c8e-6eec-4c68-a7b2-a28bf73c6928.svg#84883c8e-6eec-4c68-a7b2-a28bf73c6928") format("svg");
}
@font-face{
font-family:"Proxima N W01 Cd Light";
src:url("Fonts/a626ba6a-dd6c-4ac1-b3be-22e92cf6f89a.eot?#iefix");
src:url("Fonts/a626ba6a-dd6c-4ac1-b3be-22e92cf6f89a.eot?#iefix") format("eot"),url("Fonts/228212a3-35ca-4dca-b8a4-b5ce4f0a489b.woff2") format("woff2"),url("Fonts/b32c1fcd-5953-485f-97f6-db39b891e917.woff") format("woff"),url("Fonts/9f302ff2-5c3c-4096-a1b3-8f28920ce2b5.ttf") format("truetype"),url("Fonts/8091606f-f1b1-4332-b03e-958e7897b8b6.svg#8091606f-f1b1-4332-b03e-958e7897b8b6") format("svg");
}
@font-face{
font-family:"Proxima N W01 Cd Reg";
src:url("Fonts/9078f77e-dddf-495b-a468-f03b3b7aa12c.eot?#iefix");
src:url("Fonts/9078f77e-dddf-495b-a468-f03b3b7aa12c.eot?#iefix") format("eot"),url("Fonts/317fd159-159d-4870-a01f-ef9d5a71d5b3.woff2") format("woff2"),url("Fonts/8e5dbeb3-4068-4196-83a4-c86fe35c8b65.woff") format("woff"),url("Fonts/f6c936c3-3828-4625-babb-e900c2afe00d.ttf") format("truetype"),url("Fonts/87761033-3af1-450a-8cdd-2321b6a595f9.svg#87761033-3af1-450a-8cdd-2321b6a595f9") format("svg");
}
@font-face{
font-family:"Proxima N W01 Cd Smbd";
src:url("Fonts/743deaac-7962-4f58-91e0-3af3d25e415f.eot?#iefix");
src:url("Fonts/743deaac-7962-4f58-91e0-3af3d25e415f.eot?#iefix") format("eot"),url("Fonts/1c0840de-f0f0-478a-b326-93eab2f22001.woff2") format("woff2"),url("Fonts/aa783977-3fc3-4514-813c-698b4970a505.woff") format("woff"),url("Fonts/4170aa25-c065-47da-b44f-03e1f0f1b3c3.ttf") format("truetype"),url("Fonts/cc109ce0-d5dc-404f-a584-bf82c9212afc.svg#cc109ce0-d5dc-404f-a584-bf82c9212afc") format("svg");
}
@font-face{
font-family:"Utopia W01 Regular";
src:url("Fonts/2a0c47b9-7c72-4622-a2a6-753b1928c4f7.eot?#iefix");
src:url("Fonts/2a0c47b9-7c72-4622-a2a6-753b1928c4f7.eot?#iefix") format("eot"),url("Fonts/d7079586-2da2-49e9-9ac2-9643ce1e6e9d.woff2") format("woff2"),url("Fonts/cf097660-b052-407e-8446-064d8b9e4efc.woff") format("woff"),url("Fonts/521c33af-0500-4311-ac9c-866d131d0dc5.ttf") format("truetype"),url("Fonts/de2ff455-5efa-4560-b525-48c8b68417be.svg#de2ff455-5efa-4560-b525-48c8b68417be") format("svg");
}
@font-face{
font-family:"Utopia W01 Bd";
src:url("Fonts/5a9f4a76-39ad-4893-a7c6-27840b6bc03c.eot?#iefix");
src:url("Fonts/5a9f4a76-39ad-4893-a7c6-27840b6bc03c.eot?#iefix") format("eot"),url("Fonts/033c5d49-c85b-41e0-a737-a20db01765e2.woff2") format("woff2"),url("Fonts/b4afd2bd-5ded-45ce-930a-91bcbd795971.woff") format("woff"),url("Fonts/458089c5-dfe5-4af9-8c14-ca3b91d09fd1.ttf") format("truetype"),url("Fonts/555811b3-72e5-44bb-a8db-c89fa420cc84.svg#555811b3-72e5-44bb-a8db-c89fa420cc84") format("svg");
}
@font-face{
font-family:"Utopia W01 Bd It";
src:url("Fonts/73864753-f778-4197-8f29-20bf6b453109.eot?#iefix");
src:url("Fonts/73864753-f778-4197-8f29-20bf6b453109.eot?#iefix") format("eot"),url("Fonts/300b38e5-cb62-4c94-a8f1-ffc8eccf5525.woff2") format("woff2"),url("Fonts/d3fda490-8060-48cd-a0fa-540e33cc7048.woff") format("woff"),url("Fonts/80090c4c-7b5e-434a-a8f5-12a8c15adf34.ttf") format("truetype"),url("Fonts/99e30d7f-001d-488e-8848-6f1ea4cceafd.svg#99e30d7f-001d-488e-8848-6f1ea4cceafd") format("svg");
}
